<div class="container">
    <div class="row">
        <div class="search">
            <h1>MOVIE</h1>
            <p>Millions of movies, TV shows and people to discover. Explore now.</p>
            <div class="input">
                <input class="form-control me-2 " type="search" placeholder="Search and explore...."
                    aria-label="Search">
                <button class="btn " type="submit">Search</button>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="Movies">
            <h2>
                Popular Movies
            </h2>
            <div class="movies-show">
                <div class="movie-card">
                    <div class="card" style="width: 14rem;" *ngFor="let movie of AllMovies">
                        <a routerLink="Movie-Details">
                            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img-top"
                                alt="...">

                        </a>
                        <div class="card-body">
                            <a routerLink="Movie-Details">
                                <h5 class="card-title">{{movie.title}}</h5>
                            </a>
                            <h6> Rate <span>{{movie.vote_average}}</span> </h6>
                            <div class="washList">
                                <p class="card-text">{{movie.release_date}}</p>
                                <a href=""> <i class="fa-regular fa-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
