<div class="movie-details container">
  <div class="row details">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movieDetails.poster_path}}" alt="Card image cap" />
    </div>
    <div class="text-wrapper">
      <h4>{{movieDetails.title}}</h4>
      <p class="date">{{movieDetails.release_date}}</p>
      <span class="rate"> Rate ( {{movieDetails.vote_average}} )</span>
      <span class="rate"> {{movieDetails.vote_count}} </span>
      <p class="movie-details">
     {{movieDetails.overview}}
      </p>
      <div class="generas-parent">
        <div *ngFor="let genres of genres" >
          <span class="generas">{{genres.name}}</span>
        </div>
        <p class="movie-details">
          Duration: {{movieDetails.runtime}} Min.
           </p>

      </div>


      <div class="btn-website">
        <a href="">Website</a>
      </div>
    </div>
  </div>

  <hr />

  <h2>Recommendation</h2>

  <div class="row">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="../../assets/photo.png" alt="Card image cap" />
    </div>
  </div>
</div>