<div class="movie-details container">
  <div class="row">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movieDetails.poster_path}}" alt="Card image cap" />
    </div>
    <div class="text-wrapper">
      <h4>{{movieDetails.title}}</h4>
      <span>{{movieDetails.release_date}}</span>
      <p>
     {{movieDetails.overview}}
      </p>

      <div>
        <span></span>
     
      </div>

      <div class="btn-website">
        <a href="">Website</a>
      </div>
    </div>
  </div>

  <hr />

  <h2>Recommendation</h2>

  <div class="row">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="../../assets/photo.png" alt="Card image cap" />
    </div>
  </div>
</div>